<div class="container mt-2 d-flex flex-wrap">
  <div class="card col-12 p-2 my-2 bg-secondary text-white">
      <h1 class="text-center"> ngx-formly</h1>
      <p class="text-center">
        This is a demo code for demonstrating the basic functionality
        of ngx-formly
      </p>
  </div>
  <div class="card col-6 p-2 text-center my-2">
    <div class="card-header mb-2">Basic form</div>
      <app-basic-formly></app-basic-formly>
  </div>
  <div class="card col-6 p-2 text-center my-2">
      <div class="card-header mb-2">Custom template form</div>
      <app-custom-template-formly></app-custom-template-formly>
  </div>
  <div class="card col p-2 text-center my-2">
    <div class="card-header mb-2">Custom Wrapper (accordion) form</div>
    <app-custom-wrapper-formly></app-custom-wrapper-formly>
  </div>
</div>